body {
    margin: 0;
    padding: 0;
}

.markdown-text-editor {
    min-height: 100vh;
    width: 50vw;
    height: auto;
    border: none;
    overflow: hidden;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    padding: 10px;

    background-color: bisque;
}
